a img:hover {
    filter: hue-rotate(200deg) saturate(200%);
}

/* Remove default caret/arrow */
    .dropdown-toggle::after {
      display: none !important;
    }
   
 

/* Footer content */
.footer-content {
  background-color: #381a58; /* Dark purple */
  color: rgb(236, 234, 234);
  text-align: center;
  padding: 40px 20px 20px 20px;
  font-family: cursive;
  margin-bottom: 20px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

/* Footer links */
.footer-content a {
  color: rgb(233, 213, 213);
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Bottom footer */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  font-size: 0.9rem;
}
